.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.OptionsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FeedbackSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}